@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rakkas&family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pridi&family=Rakkas&family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@600&family=Pridi&family=Rakkas&family=Roboto+Slab:wght@300&display=swap');

.tracking-in-contract {
	-webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
 @-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  #contacto img{
    width: 5%;
  }
  .navbar {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    font-weight: bold;
  }
  
  #titulo {
  font-family: 'Rakkas', serif;
  font-size: 80px;
 
}

#nav{
  font-family: 'Roboto Slab', serif;
}
#sobreMi{
  font-family: 'Rakkas', serif;
  font-size: 100px;
  
} 

#titulo2{
  font-family: 'Rakkas', serif;
  font-size: 60px;
}

#texto3{
  font-family: 'Pridi', serif;
  font-size: 30px;
}
#texto1{
  font-family: 'Pridi', serif;

}

#titulo4{
  font-family: 'Pridi', serif;
  font-size: 30px;  
  background-color: rgb(252, 225, 251);
}

#moverMargen{
  font-family: 'Rakkas', serif;
  font-size: 50px;

}

#contacto{
  font-family: 'Rakkas', serif;
}